<md-toolbar color="primary">
  <span>{{title}}</span>

  <span class="fill-remaining-space"></span>

  <span>BETA</span>
</md-toolbar>

<div class="app-component">
  <md-card>
    <md-card-content>
      <nav md-tab-nav-bar>
        <a md-tab-link [routerLink]="['/servers']" routerLinkActive #rlaServer="routerLinkActive" [active]="rlaServer.isActive">Servers</a>
        <a md-tab-link [routerLink]="['/clients']" routerLinkActive #rlaClient="routerLinkActive" [active]="rlaClient.isActive">Clients</a>
      </nav>
      
      <router-outlet></router-outlet>
    </md-card-content>
  </md-card>
</div>