<md-toolbar color="primary">
  <span>{{title}}</span>

  <span class="fill-remaining-space"></span>

  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>add</md-icon>
  </button>
  <md-menu #menu="mdMenu" [overlapTrigger]="false" xPosition="before">
    <button md-menu-item (click)="addServer()">
      <md-icon>dvr</md-icon>
      <span>Add Server</span>
    </button>
    <button md-menu-item (click)="addClient()">
      <md-icon>smartphone</md-icon>
      <span>Add Client</span>
    </button>
  </md-menu>
</md-toolbar>

<div class="app-component fill-remaining-space">
  <md-card>
    <md-card-content>
      <nav md-tab-nav-bar>
        <a md-tab-link [routerLink]="['/servers']" routerLinkActive #rlaServer="routerLinkActive" [active]="rlaServer.isActive">Servers</a>
        <a md-tab-link [routerLink]="['/clients']" routerLinkActive #rlaClient="routerLinkActive" [active]="rlaClient.isActive">Clients</a>
      </nav>
      
      <router-outlet></router-outlet>
    </md-card-content>
  </md-card>
</div>