<md-list>
  <ng-template [ngIf]="!loading">
    <md-list-item *ngFor="let server of servers">
      <md-icon md-list-icon>dvr</md-icon>
      <h4 md-line>{{server.name}}</h4>
      <p md-line>{{server.ip}}:{{server.port}}</p>
      <button md-icon-button [mdMenuTriggerFor]="menu">
            <md-icon>more_vert</md-icon>
          </button>
      <md-menu #menu="mdMenu" [overlapTrigger]="false" xPosition="before">
        <button md-menu-item (click)="edit(server)">
              <md-icon>edit</md-icon>
              <span>Edit</span>
            </button>
        <button md-menu-item (click)="delete(server)">
              <md-icon>delete</md-icon>
              <span>Delete</span>
            </button>
      </md-menu>
    </md-list-item>
  </ng-template>
</md-list>